<ion-grid fixed>
  <ion-row>
    <ion-col size="12" color="primary">
      <ion-input type="number" [(ngModel)]="valor" color="success" class="extraFont"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  size="3">
      <ion-button (click)="click('7')" color="medium" expand="full" id="siete">7</ion-button>
    </ion-col>
    <ion-col  size="3">
      <ion-button (click)="click('8')" color="medium" expand="full" id="ocho">8</ion-button>
    </ion-col>
    <ion-col  size="3">
      <ion-button (click)="click('9')" color="medium" expand="full" id="nueve">9</ion-button>
    </ion-col>
    <ion-col  size="3">
      <ion-button (click)="click('+')" color="success" expand="full" id="mas">+</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  size="3">
      <ion-button (click)="click('4')" color="medium" expand="full" id="cuatro">4</ion-button>
    </ion-col>
    <ion-col  size="3">
      <ion-button (click)="click('5')" color="medium" expand="full" id="cinco" strong>5</ion-button>
    </ion-col>
    <ion-col  size="3">
      <ion-button (click)="click('6')" color="medium" expand="full" id="seis">6</ion-button>
    </ion-col>
    <ion-col  size="3">
      <ion-button (click)="click('-')" color="success" expand="full" id="menos">-</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  size="3">
      <ion-button (click)="click('1')" color="medium" expand="full" id="uno">1</ion-button>
    </ion-col>
    <ion-col  size="3">
      <ion-button (click)="click('2')" color="medium" expand="full" id="dos" strong>2</ion-button>
    </ion-col>
    <ion-col  size="3">
      <ion-button (click)="click('3')"color="medium" expand="full" id="tres">3</ion-button>
    </ion-col>
    <ion-col  size="3">
      <ion-button (click)="click('/')" color="success" expand="full" id="cuatro">/</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  size="9">
      <ion-button (click)="click('0')" color="medium" expand="full" id="zero">0</ion-button>
    </ion-col>
    <ion-col  size="3">
      <ion-button (click)="click('X')" color="success" expand="full" id="multiplicar">*</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  size="3">
      <ion-button color="success" (click)="click('=')" expand="full" id="igual">=</ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button (click)="click(',')" color="success" expand="full" id="zero">,</ion-button>
    </ion-col>   
    <ion-col  size="3">
      <ion-button color="success" expand="full" *ngIf="!isc" (click)="click('ac')">AC</ion-button>
      <ion-button color="success" expand="full" *ngIf="isc" (click)="click('c')">C</ion-button>
    </ion-col>
    <ion-col  size="3">
      <ion-button (click)="click('%')" color="medium" expand="full" id="zero">%</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-label>Por favor click C y luego AC si quiere resetear completamente a zero y empezar una nueva operacion</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid fixed>
  <ion-row>
    <ion-col size="1">
    </ion-col>
    <ion-col size="10" class="ion-text-start" color="success"> 
      <ion-text color="dark">
        <h1> Historial </h1>
      </ion-text>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <div *ngFor="let historia of historial| orderBy:'order':true; let i=index">
        <ion-text color="success" class="ion-text-start">
          <h1 >{{historia}}</h1>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
